<p><%= @user.view_name %>,</p>

<p>
  You've been invited to join the Secret Santa group, <%= @group.name %>. <%= link_to "Sign in ", signin_url %>to accept.
</p>


<p>Thanks,</p>

<p><%= @group.users.first.name %></p>