<p>Hi,</p>

<p>
  You've been invited to join a secret santa group by <%= @group.owner.view_name %>. If you'd like to join just login <%= link_to "here", signin_url %>.
</p>
<p>
  Use the email address you received this at and copy and paste this password: <%= @password %>
</p>

<p>
Thanks, 
</p>
<p>
  from the Secret Santa Team
</p>