<div class="content center">
  <h1>All Groups</h1>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= image_tag placeholder_image size: 30 %>
        <%= link_to group.name, group %>
      </li>
    <% end %>
  </ul>
</div>