<div class="content center">
  <h1>Users</h1>

  <ul>
  <% @users.each do |user| %>
      <li>
        <%= image_tag(placeholder_image size: 50, category: "people") %>
        <h2><%= link_to user.view_name, user %></h2>
      </li>
  <% end %>
  </ul>
</div>