<%= form_tag selection_day_path  do |f| %>
  <div class="fields">
    <%# label_tag "Set the selection date." %>
    <%= date_field_tag "selection_date[select_date]" %>
    <%= hidden_field_tag :id, @group.id %>
  </div>
  <div class="submit">
    <%= submit_tag "Set" %>
  </div>
<% end %>