<div class="content center">
  <h1>Help</h1>
  <p>
    This app is designed to make it easy to do secret santa. Once you set a selection date, you will be able to see who you will be giving a gift to. The group admin will be able to set the spending limit, selection date and open date. However, that person is unable to see who got who.
  </p>
  <p>
    At this time, you will not be emailed when the selection is made, so you will have to check back here!
  </p>
</div>