<div class="hero">
  <h3>Have a secret santa group?</h3>
  <h3>We'll help you manage it. Sign up below!</h3><br>
  <%= button_to "Sign Up", signup_path, method: :get, id: "signup-button", class: "large-btn" %>
  <p>or, <%= link_to "sign in", signin_url %>.</p>
</div>