//mixins
@mixin boxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin rounded($radius: 0.4em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin roundedTop($radius: 0.4em) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin backgroundSize {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin buttonBackground($fromColor: $lightGreen, $toColor: $darkGreen) {
  background: $fromColor;
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from($fromColor),
    to($toColor));
  background: -moz-linear-gradient( to bottom, $fromColor, $toColor);
  border: none;
  border: none;
}

//variables
$white: #fff;
$offWhite: #f5f3ea;
$lightLightGray: #eee;
$lightGray: #888;
$darkGray: #444;

$lightLightGreen: #e5ebe7;
$lightGreen: #90a797;
$darkGreen: #4e6153;

$lightRed: #914141;
$darkRed: #600;

$tierTop: 1000;
$tierMid: 100;
$tierBot: 1;
$tierSub: -2;

// all device types
@media all {
  .top-5 {margin-top: 5px;}
  .bot-5 {margin-bottom: 5px;}
  .top-10 {margin-top: 10px;}
  .bot-10 {margin-bottom: 10px;}

  .center { margin: 0 auto; }
  .left { float: left; }
  .right { float: right; }

  *, *:before, *:after {@include boxSizing;}

  html, body{height:100%;}

  html {
    background-color: $offWhite;
  }

  header {
    width: 100%;
    height: 60px;
    background-color: $white;
    box-shadow: 0px 2px 2px 0px $lightGreen;
    position: fixed;
    top: 0;
  }

  .header {
    height: 100%;
    margin: 0 auto;
  } 

  #show-nav {
    float: right;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    margin-top: 15px;
    img {
      width: 100%;
    }
  }

  #nav {
    right: 7.5%;
    position: absolute;
    top: 75px;
    display: none;
    color: $darkGray;
    box-shadow: 0 1px 1px 0px $lightGray;
    width: 40%;
    background-color: $white;
    z-index: $tierMid;
    
    span {
      float:right;
      color: $lightGray;
      margin-right: 10px;
      cursor: pointer;
      font-size: 1.2em;
    }
    ul {
      list-style: none;
      padding: 20px 0 5px 0;
      font-size: 2em;
      margin: 0 25px 0 25px;

      li {
        &:first-child {
        font-weight: bold;
        }
        a {
          color: $darkGray;
          text-decoration: none;
        }
      }
      .divider {
        border-bottom: 1px solid
      }
    }
  }

  #nav:after, #nav:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  #nav:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
  }
  #nav:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: $lightLightGray;
    border-width: 11px;
    margin-left: -11px;
  }

  #show-signin {cursor: pointer;}
  #signin {
    display:none;
    font-size: 1em;
    background-color: $white;
    .fields {
      input {
        width: 100%;
        margin-bottom: 5px;
        padding: 2px 0 2px 3px;
        @include rounded(0.1em);
        background-color: $lightLightGray;
        border: none;
      }
    }
    .submit {
      width: 50%;
      input {
        font-size: 0.7em;
        color: $white;
        padding: 5px;
        @include buttonBackground;
        @include rounded;
      }
    }
    a {
      margin: 0 0 20px 10px;
    }
  }

  // // content
  .container {
    margin: 0 auto;
    margin-top: 80px;
  }
  .hero {
    background-color: $darkGray;
    font-size: 2em;
    width: 60%;
    height: 400px;
    padding-top: 2em;
    margin: auto;
    color: white;
    text-align: center;
    h1, h2, h3 {
      span {
        font-size: 0.4em;
        a {
          text-decoration: none;
          color: $darkGray;
        }
      }
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;  
    }
    h3 {
      font-size: 1em;
    }
    ul {
      list-style: none;
      margin: 0;
      a {
        text-decoration: none;
        color: $darkGray;
      }
    }
    p {
      margin-top: 5px;
      a {
        color: white;
      }
    }
  }
  .content {
    min-height: 100%;
    background-color: white;
    box-shadow: 0 1px 1px 0px $lightGray;
    @include roundedTop;
    h1, h2, h3 {
      padding: 0 12.5% 0 12.5%;
    }
    h1 {
      @include roundedTop(0.2em);
      color: $lightLightGreen;
      background-color: $lightGreen;
      font-size: 2em;
      padding-top: 8px;
      padding-bottom: 5px;
      width: 100%;
      span {
        font-size: 0.4em;
        a {
          text-decoration: none;
          color: $darkGray;
        }
      }
      img {
        @include rounded(0.2em);
      }
    }
    h2 {
      font-size: 1.5em;
      span {
        font-size: 0.8em;
      }
      span + span {
        font-size: 0.4em;
      a {
        text-decoration: none;
        color: $darkGray;
      }  
    }
    h3 {
      font-size: 2em;
        span {
          font-size: 1em;
          a {
            text-decoration: none;
            color: $darkGray;
          }
        }
      }
    }
    ul {
      font-size: 2em;
      list-style: none;
      margin: 0 auto;
      width: 75%;
      img {
        @include rounded(0.2em);
      }
      h2 {
        display: inline-block;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: $darkGray;
      }
      li {
        font-size: 0.8em;
        padding: 10px 5px 10px 1px;
        border-bottom: 1px solid $lightGray;
        &:last-child {
          border-bottom: none;
        }
        h2 {
          font-size: 1.5em;
        }
        span {
          float: right;
          font-size: 0.5em;
          margin-top: 1em;
        }
      }
    }  
    p {
      width: 75%;
      margin: 0 auto;
      font-size: 2em;
    }
    .giftee-span {
      font-size: 0.8em;
      float: none;
    }
  }

  .sidebar > * {}
  .sidebar {
    background-color: $white;
    box-shadow: 0 1px 1px 0px $lightGray;
    @include roundedTop;
    h1 {  
      @include roundedTop(0.2em);
      color: $lightLightGreen;
      background-color: $lightRed;
      font-size: 2em;
      padding-top: 8px;
      width: 100%;
      span {
        font-size: 0.4em;
        a {
          text-decoration: none;
          color: $darkGray;
        }
      }
      img {
        @include rounded(0.2em);
      }
    }
    h2 {
      font-size: 1.5em;
      span {
        font-size: 0.8em;
      }
        span + span {
        font-size: 0.4em;
        a {
          text-decoration: none;
          color: $darkGray;
        }
      }  
    }
    h3 {
      font-size: 2em;
        span {
        font-size: 1em;
        a {
          text-decoration: none;
          color: $darkGray;
        }
      }
    }  
    ul {
      font-size: 1.5em;
      list-style: none;
      margin: 0 auto;
      width: 90%;
      img {
        @include rounded(0.2em);
      }
      h2 {
        display: inline-block;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: $darkGray;
      }    
      li {
        font-size: 1em;
        padding: 5px 5px 5px 1px;
        border-bottom: 1px solid $lightGray;
        &:last-child {
          border-bottom: none;
        }
        h2 {
          font-size: 1.5em;
        }
        span {
          float: right;
          font-size: 0.5em;
          margin-top: 1em;
        }
      }
    }  
    p {
      width: 75%;
      margin: 0 auto;
      font-size: 2em;
    }
    .giftee-span {
      font-size: 0.8em;
      float: none;
    }  
  }

  //forms
  .form {
    width: 50%;
    margin: 0 auto;
    font-size: 2em;
    background-color: $white;
    margin-top: 25px;
    @include rounded;
    box-shadow: 0 1px 1px 0px $lightGray;
    h1 {
      color: $lightLightGray;
      background-color: $lightGreen;
      @include roundedTop;
      padding: 10px 0 10px 22%;
      width: 100%;
    }
    .fields {
      width: 60%;
      margin-left: 20%;
      label {
        display: block;
      }
      input {
        margin: 0 0 10px 0;
        padding: 5px;
        @include rounded(0.1em);
        background-color: $lightLightGray;
        border: none;
      }
    }
    .submit {
      padding-bottom: 10px;
      input {
        font-size: 1em;
        color: #fff;
        padding: 5px 10px;
        @include buttonBackground;
        @include rounded;
      }
    }
  }
  .sidebar-form {
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1em;
    background-color: $white;
    .fields {
      label {
        display: inline-block;
        width: 100%; 
      }
      input {
        float: left;
        width: 70%;
        margin-bottom: 5px;
        padding: 2px 0 2px 3px;
        @include rounded(0.1em);
        background-color: $lightLightGray;
        border: none;
        height: 100%
      }
      input[type="date"] {
        height: 1.3em;
      }
    }
    .submit {
      display: inline-block;
      margin: 1px 0 0 5px;
      width: 25%;
      input {
        width: 100%;
        font-size: 0.7em;
        color: $white;
        padding: 5px 10px;
        @include buttonBackground($lightRed, $darkRed);
        @include rounded;
      }
    }
    a {
      margin: 0 0 20px 10px;
    }
  }
  .invite-form {
    width: 75%;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1em;
    background-color: $white;
    .fields {
      label {
        display: inline-block;
        width: 100%; 
      }
      input {
        float: left;
        width: 70%;
        margin-bottom: 5px;
        padding: 2px 0 2px 3px;
        @include rounded(0.1em);
        background-color: $lightLightGray;
        border: none;
        height: 100%
      }
      input[type="date"] {
        height: 1.3em;
      }
    }
    .submit {
      display: inline-block;
      margin: 1px 0 0 5px;
      width: 25%;
      input {
        width: 100%;
        font-size: 0.7em;
        color: #fff;
        padding: 5px 10px;
        @include buttonBackground;
        @include rounded;
      }
    }
    a {
      margin: 0 0 20px 10px;
    }
  }
  .invite-accept-form {
    margin-left: 20%;
    font-size: 1.8em;
    .fields {
      label {
        display: inline-block;
        width: 100%;
      }
    }
    .submit {
      display: inline-block;
      input {
        font-size: 0.6em;
        color: #fff;
        @include buttonBackground;
        @include rounded;
      }
    }
  }
  .users-accept-form {
    margin-left: 12.5%;
    font-size: 1.5em;
    .fields {
      label {
        display: inline-block;
        width: 100%;
      }
    }
    .submit {
      display: inline-block;
      input {
        font-size: 0.6em;
        color: $white;
        @include buttonBackground;
        @include rounded;
      }
    }
  }

  // misc
  #alert, #notice {
    font-size: 2em;
    width: 100%;
    margin: 0 auto;
    background-color: $lightLightGray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    @include rounded;
    p {
      display: inline-block;
      margin: 5px;
      width: 90%;
    }
  }

  #notice {
    color: $darkGreen;
    border: 1px solid $darkGreen;
  }
  #alert {
    color: $darkRed;
    border: 1px solid $darkRed;
  }

  .large-btn {
    font-size: 1em;
    color: #fff;
    padding: 5px 10px;
    @include buttonBackground;
    @include rounded;
  }

  .close {
    margin: 3px 5px 0 0;
    font-size: 0.5em;
    float: right;
    color: $darkGray;
    cursor: pointer;
    height: 15px;
    width: 15px;
    @include rounded(50%);
    padding-left: 3.5px;
    line-height: 12px;
    &:hover {
      color: $white;
      background-color: $lightRed;
      border: 1px solid $darkRed;
    }
  } 
}

// phones 
@media only screen and (min-width: 100px) and (max-device-width: 700px) {
  header {height: 12%;}
  .header {
    width: 90%;
    #logo-img {
      width: 20%; 
      height: 90%;
      margin-top: 1%;
    }
  } 
  #show-nav {
    width: 10em;
    margin-top: 2em;
  }
  #nav {
    right: 5%;
    top: 125%;
    width: 75%;
    font-size: 3em;
  }
  #nav:after, #nav:before {
    right: 5%;
  }

  #nav:after {
    border-width: 30px;
    margin-left: -30px;
  }
  #nav:before {
    border-width: 32px;
    margin-left: -32px;
  }

  // content
  .hero {
    width: 100%;
    padding-bottom: 70%;
    font-size: 5em;
    margin-top: 25%;
  }
  .content {
    font-size: 2.6em;
    margin-top: 25%;
  }

  .container { width: 90%; }
  .sidebar > * { display:none; }
  .sidebar {
    margin-bottom: 10px;
    padding-bottom: 5px;
    h1, h2, h3 { padding: 0 5% 5px 12.5%; }
    h1 { display: inline-block; } 
  }

  .sidebar-form {
    width: 75%;
  }

  // misc.
   .minimize, .maximize { 
    float: right; 
    font-size: 1em !important;
    cursor: pointer;
  }
  
  .maximize { 
    margin: -0.5em 0.1em 0 0;
  }

  .minimize { 
    display: none; 
    margin: -0.7em -4.5% 0 0;
  }

  .minimized { 
    font-size: 0.7em !important; 
    // margin: 0;
    padding: 0;
    @include rounded(4em);
    h1 {
      @include rounded;
      padding: 5px;
      padding-left: 12.5%; 
    }
  }
}

// small screens
@media only screen and (min-device-width: 700px) and (max-width: 50.699em) {
  .header {
    width: 90%;
  }

  #nav { right: 4%; }
  #nav:after, #nav:before { right: 5%; }

  // content
  .container {
    width: 90%;
  }
  
  .sidebar > * {display:none;}
  .sidebar {
    margin-bottom: 10px;
    padding-bottom: 5px;
    h1, h2, h3 {
      padding: 0 5% 5px 12.5%;
    }
    h1 {
      display: inline-block;
      } 
    ul {
      margin-left: 12.5%;
    }
  }
  
  .sidebar-form {
    width: 75%;
  }

  // misc.
  .minimize, .maximize { 
    float: right; 
    font-size: 1em !important;
    cursor: pointer;
  }
  
  .maximize { 
    margin: -0.4em 0.2em 0 0;
  }

  .minimize { 
    display: none; 
    margin: -0.3em -4.5% 0 0;
  }

  .minimized { 
    font-size: 0.7em !important; 
    // margin: 0;
    padding: 0;
    @include rounded(4em);
    h1 {
      @include rounded;
      padding: 5px;
      padding-left: 12.5%; 
    }
  }
}

// medium screens
@media only screen and (min-device-width: 700px) and (min-width: 50.7em) and (max-width: 59.999em) {
  .header {
    width: 95%;
  }
  #nav {
    right: 1%;
  }

  #nav:after, #nav:before {right: 5%;}

  // content
  .container {
    width: 95%;
  }

  .sidebar > * { display: block !important; }
  .sidebar {
    width: 39%;
    float: right;
    padding-bottom: 5px;
    h1, h2, h3 {
      padding: 0 5% 5px 5%;
    }
    h1 { padding-top: 8px; }
  }
  .content { width: 60%; }

  .sidebar-form {
    width: 90%;
  }

  // misc.
  .minimize, .maximize { display: none !important; }
}

// large screens
@media only screen and (min-device-width: 700px) and (min-width: 60em) {
  .header {
    width: 80%;
  }
  #nav:after, #nav:before { right: 7%; }

  // content
  .container {
    width: 80%;
  }  

  .sidebar > * { display: block !important; }
  .sidebar {
    width: 39%;
    float: right;
    padding-bottom: 5px;
    h1, h2, h3 {
      padding: 0 5% 5px 5%;
    }
    h1 { padding-top: 8px; }
  }

  .content {
    width: 60%;
    p { margin-bottom: 1em; }
  }

  .sidebar-form {
    width: 90%;
  }

  // misc.
  .minimize, .maximize { display: none !important; }
}